<p> {{title}}</p>
<p>{{objValue}}</p>
<input placeholder="placeholderValue" [(ngModel)]="objValue">

<button (click)="onSubmit()">Submit</button>

<h1 class="OnlineStatus">Online</h1>

<h1>Implementation of ngFor using array values</h1>
<h3 *ngFor="let item of arrlist">
{{item}}
</h3>
<br>
<br>

<h1>Implementation of ngFor using array object</h1>
<h3 *ngFor="let value of arrvalue">
  {{value.name}}
  </h3>
  <br>
  <br>

  <h1>Implementation of ngIf using array object</h1>

<h4 *ngFor="let value of arrvalue">
<div *ngIf="value.age === 25 ">
  {{value.age}}
</div>
<br>
<div *ngIf="value.name === 'lakshmi' ">
  {{value.name}}
</div>
</h4>

<br>

<br>

<h1>Implementation of ngSwitch</h1>

<div [ngSwitch]= "checkName">
  <div *ngSwitchCase="'bhagyalakshmi'"> This is bhagyalakshmi</div>
  <div *ngSwitchCase="'venkat'"> This is venkat</div>

</div>

<br>

<br>

<h1>Implementation of ngClass using condition</h1>

<div [ngClass]="checkValue === 'Bhagyalakshmi' ? 'OnlineStatus' : 'OfflineStatus'"> 
  Status Checked
</div>

<br>

<br>

<h1>Implementation of ngStyle using condition</h1>
<div [ngStyle]="checkStyle ? divStyles : divStyle ">
Check the Status
</div>



